<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<h2> Project Report Templates Doc Format </h2>
<table class="table" border=2 class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Purpose</th>
      <th scope="col">Link</th>
      <th scope="col">Remarks</th>
    </tr>
  </thead>
  <tbody>
	  <tr><th scope="row">1</th><td>Article-Submission</td><td><a href="Article-Submission.doc">Downlod Click Here</a></td><td></td> </tr>
	  <tr><th scope="row">2</th><td>Batch-Of-Tags</td><td><a href="Batch-Of-Tags.doc">Downlod Click Here</a></td><td></td> </tr>
	  <tr><th scope="row">3</th><td>Blog-Submission-Report</td><td><a href="Blog-Submission-Report.doc">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">4</th><td>Confirm-Directory-Submission-links</td><td><a href="Confirm-Directory-Submission-links.doc">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">5</th><td>Local-Search-Engine-Submission-Report</td><td><a href="Local-Search-Engine-Submission-Report.doc">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">6</th><td>On-Page-Optimization-Report</td><td><a href="On-Page-Optimization-Report.doc">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">7</th><td>Social-Book-Marking-Report</td><td><a href="Social-Book-Marking-Report.doc">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">8</th><td>Total-Social-Book-Marking-Report</td><td><a href="Total-Social-Book-Marking-Report.doc">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">9</th><td>Total-Social-Book-Marking-Report</td><td><a href="Total-Social-Book-Marking-Report.doc.docx">Downlod Click Here</a></td><td></td></tr
	  <tr><th scope="row">10</th><td></td><td><a href="">Downlod Click Here</a></td><td></td></tr
      </tr>
  </tbody>
</table>

</body>
</html>
